<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuck You Games</title>
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <header class="header">
        <a href="/" class="logo">Fuck You Games</a>
        <div class="social">
            <a href="https://www.instagram.com/naveen_kwt/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://youtube.com/@key4code?si=y2RcJmsAeFcn4aQt"><i class="fa-brands fa-youtube"></i></a>
            <a href="https://www.linkedin.com/in/naveen-kumawat-287473189/"><i class="fa-brands fa-linkedin"></i></a>
            <a href="#"><i class="fa-brands fa-telegram"></i></a>
        </div>
        <nav class="navbar">
            <a href="/register">Sign in</a>
            <a href="#">Coins</a>
            <a href="#">Info</a>
            <a href="#">Community</a>
        </nav>
    </header>
    <section class="banner">
        <div class="slider">
            <div class="slide active">
                <img src="./1.jpg" alt="">
                <div class="left-info">
                    <div class="penetrte-blur">
                        <h1>Team</h1>
                    </div>
                    <div class="content">
                        <h3>00. Team ProGame</h3>
                        <p>Games are an essential part of everyone's childhood. Games are a fun way to keep kids entertained. They provide an interactive and engaging way to learn something new while considering themselves and others. They give children a break from daily study routines.</p>
                        <a href="#" class="btn">More Details</a>
                    </div>
                </div>
                <div class="right-info">
                    <h1>Pro</h1>
                    <h3>Thunder</h3>
                </div>
            </div>
            <div class="slide">
                <img src="./10.jpeg" alt="">
                <div class="left-info">
                    <div class="penetrte-blur">
                        <h1>The</h1>
                    </div>
                    <div class="content">
                        <h3>01. The Attacker</h3>
                        <p>Spiders are arachnids, a class of arthropods that also includes scorpions, mites, and ticks. There are more than 45,000 known species of spiders, found in habitats all over the world. There</p>
                        <a href="#" class="btn">More Details</a>
                    </div>
                </div>
                <div class="right-info">
                    <h1>9</h1>
                    <h3>05. Commando</h3>
                </div>
            </div>
            <div class="navigation">
                <span class="prev-btn"><i class="fa-solid fa-chevron-left fa-3x"></i></span>
                <span class="next-btn"><i class="fa-solid fa-chevron-right fa-3x"></i></span>
            </div>
        </div>
    </section>
    <script src="script.js"></script>
</body>
</html>